name: Build

on:
  workflow_dispatch:
  push:
    branches: [master]
    tags: [v*.*]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          cmdline-tools-version: 12266719 # 16.0
          accept-android-sdk-licenses: true

      - name: Accept Android SDK Licenses
        run: |
          yes | sdkmanager --licenses || true
          sdkmanager --update

      - name: Build
        run: ./gradlew --no-daemon build

      - name: Copy APK
        run: cp app/build/outputs/apk/release/app-release-unsigned.apk ./app-release.apk

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: app-release.apk

  push:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download
        uses: actions/download-artifact@v4
        with:
          name: apk
      - name: Push
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: apk
          build_dir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Release
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        uses: ncipollo/release-action@v1
        with:
          artifacts: app-release.apk
